* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Comfortaa", cursive;
}

body {
  width: 100%;
  height: auto;
  background-image: url(./assets/pagar.png);
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
}
body div {
  width: 100%;
  height: 60rem;
  margin: 1rem auto;
  background-image: url(./assets/pagar.png);
  background-repeat: no-repeat;
}
