* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Comfortaa", cursive;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(./assets/background.jpg);
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
}

header .header-container {
  width: 100%;
  height: auto;
  margin: 2rem auto;
  padding: 1rem;
  min-width: 22.8rem;
}
.header-container h1 {
  text-align: center;
  font-family: "Comfortaa", cursive;
  font-size: 3.2rem;
  font-weight: bold;
  color: rgb(73, 70, 70);
  line-height: 2.6rem;
}

.header-container .logo-container {
  width: 320px;
  height: 220px;
  margin: 3rem auto;
  /* border: 1px solid black; */
  background-image: url(./assets/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  width: 100%;
  height: auto;
}

main .formulario-datos {
  width: 23rem;
  height: 15rem;
  min-width: 22.8rem;
  margin: 0 auto;
  margin-top: 2rem;
  text-align: center;
}

.formulario-datos input {
  margin: 1rem 0rem;
  line-height: 3rem;
  background: none;
  outline: 0;
  border: 0;
  color: rgb(73, 70, 70);
  border-bottom: 0.1rem solid dodgerblue;
}

.formulario-datos input:focus {
  border-bottom: 0.1rem solid dodgerblue;
}

.formulario-datos button {
  width: 70%;
  height: 3rem;
  margin: 1rem 0rem;
  margin-top: 3rem;
  background-color: dodgerblue;
  border: 0;
  outline: 0;
  border-radius: 0.5rem;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

.formulario-datos button:active {
  background-color: aquamarine;
}

.btn-agregar a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
}
