* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Comfortaa", cursive;
}

body {
  background-image: url(./assets/background.jpg);
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
}

header {
  width: 90%;
  height: auto;
  min-width: 32rem;
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
}

header h1 {
  text-align: center;
  font-family: "Comfortaa", cursive;
  font-size: 3.2rem;
  font-weight: bold;
  color: rgb(73, 70, 70);
  line-height: 2.6rem;
  margin-bottom: 1rem;
}

header p {
  text-align: center;
  font-family: "Comfortaa", cursive;
  font-size: 1.6rem;
  font-weight: 300;
  color: rgb(73, 70, 70);
  line-height: 2.6rem;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

main {
  width: 90%;
  min-width: 32rem;
  height: auto;
  margin: 2rem auto;
  padding: 1rem;
}

main h2 {
  text-align: center;
  font-family: "Comfortaa", cursive;
  font-size: 1.6rem;
  font-weight: bold;
  color: rgb(73, 70, 70);
  line-height: 2.6rem;
  margin-bottom: 1rem;
}

main .map-container {
  width: 100%;
  height: auto;
  padding: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map-container .map-container__station {
  text-align: center;
  font-family: "Comfortaa", cursive;
  font-size: 1.3rem;
  font-weight: bold;
  color: black;
  line-height: 2.6rem;
  margin-bottom: 0.5rem;
}

.map-container .map-container__img {
  width: 22.5rem;
  height: 22.5rem;
  margin-bottom: 1rem;
  background-image: url(./assets/volador1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.map-container #station-2 {
  background-image: url(./assets/volador2.png);
}

.map-container #station-robledo {
  background-image: url(./assets/minas1.png);
}

.map-container input {
  margin-bottom: 1.5rem;
}

.map-container button {
  width: 10rem;
  height: 3rem;
  background-color: dodgerblue;
  border: 0;
  outline: 0;
  border-radius: 0.5rem;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

.map-container button:active {
  background-color: aquamarine;
}

.map-container button a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
}
